# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# Build
build/
dist/

# OS Files
.DS_Store
Thumbs.db

# Ignore large model
models/random_forest_model.pkl